@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@ViewData["Title"]</h1>

<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="https://drive.google.com/uc?export=view&id=1ccxdKx6PJSbMI1nndyxXk7EjNGgJJq7g" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="https://drive.google.com/uc?export=view&id=1o_ER1FFOU55nxmxiGy7ZBjUna4xf8OvZ" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="https://drive.google.com/uc?export=view&id=1At9fq0-iTnPm8cDGEHFCmkD9LBV5dIFX" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<p>Use COMPANY page to detail your site's privacy policy.</p>

