@{
    ViewData["Title"] = "Bcross";
}

<div class="text-center">
    <h1 class="display-4">Welcome Bcross Platforma  </h1>
    <p>Business Platform for Companies</p>
    <p>
        Meet your success in the business crossroad
    </p>

    <img src="https://drive.google.com/uc?export=view&id=16PMHZyQZfRUIHzyBSVPAXaI1ZRaOvGUA" alt="Bcross" />
    <img src="https://drive.google.com/uc?export=view&id=1RYRNIdH4XrF7-u02PILXESF2BdYezoWq" alt="Bcross" />

</div>
