@{
    ViewData["Title"] = "Bcross";
}

<div class="text-center">
    <h1 class="display-4">Welcome Bcross Platforma  </h1>
    <p>Business Platform for Companies</p>
    <p>
        Meet your success in the business crossroad
    </p>

</div>
